<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{email/base-layout :: layout(~{::content})}">
<body>
<div th:fragment="content">
    <p><strong th:text="${actorName}">An administrator</strong> reset your password.</p>
    <p>Use this temporary password to sign in:</p>
    <p class="secret" th:text="${temporaryPassword}">Temp#1234</p>
    <p>You will be asked to choose a new password right after signing in.</p>
    <p class="note">If you did not expect this change, contact your administrator immediately.</p>
</div>
</body>
</html>